---
import { homeAPI } from "../api/home";

const runtime = Astro.locals.runtime

const {} = homeAPI(runtime.env.ENVIRONMENT)

// LAYOUTS
import Layout from "../layouts/Layout.astro"

// COMPONENTS
import Header from "../components/common/Header.astro";
import Footer from "../components/common/Footer.astro";
import HeaderBanner from "../components/common/HeaderBanner.astro";

import Hero from "../components/home/Hero.astro";
import Customers from "../components/home/Customers.astro";
import Speciality from "../components/home/Speciality.astro";
import Data from "../components/home/Data.astro";
import Quotes from "../components/home/Quotes.astro";
import Blog from "../components/home/Blog.astro";

// CONSTANTS
import { OG_IMAGE } from "../constants/website";
import Container from "../layouts/Container.astro";
---

<Layout
	title="Branding Agency NYC - Top Creative Agency - C42D"
	description="C42D is a New York branding agency with a focus on healthcare branding, branding for startups, and branding for venture capital firms."
	image={OG_IMAGE}
>
	{/* BluppCo Ad banner on staging */}
	<HeaderBanner />

	{/* Header */}
	<Header />

	<div class="py-[14em]">
		<Container>
		
			{/* Hero Text */}
			<Hero />

			<Customers />

			{/* Work */}
			<Speciality />

			{/* Metric Data */}
			<Data />

			{/* Quotes */}
			<Quotes />

			{/* Blogs */}
			<Blog />

		</Container>
	</div>	

	{/* Footer */}
	<Footer />
</Layout>
