---
const {data} = Astro.props

let clients = []

data.forEach((d) => {
	if (d.section === "Clients") {
		// Getting all images with correct order
		for (let i = 1; i <= d.images.length; i++) {

			for (let j = 0; j < d.images.length; j++) {
				if (d.images[j].order === i) {
					clients.push(d.images[j].file)
				}
			}

		}
	}
})

import Container from "../../layouts/Container.astro"

// CONSTANTS
import { CDN_LINK } from "../../constants/cdn"
---

<Container>
	<section class="w-full lg:w-[80%] mx-auto my-4">
		<div class="grid grid-cols-3 lg:grid-cols-5 place-items-center gap-y-8 lg:gap-y-16 gap-x-2">
			{
				clients.map((img) => (
					// <img src={CDN_LINK + img} alt="Img not found" />
					<img src="/cgs.svg" alt="Img not found" />
				))
			}
		</div>
	</section>
</Container>
