---
import { Icon } from "astro-icon/components"
import Container from "../../layouts/Container.astro"

const customers = [
	"youtube",
	"kindbody",
	"cuebiq",
	"brightline",
	"midday",
	"cgs",
	"foundation",
	"nesterly",
	"shazam",
	"reebok",
	"k50",
	"andala",
	"atai",
	"sage",
	"fluent",
];
---
<Container>
	<section class="w-[80%] mx-auto">
		<div class="grid grid-cols-3 lg:grid-cols-5 px-[15px] place-items-center gap-y-14">
			{
				customers.map((brand) => (
					<Icon name={`customers/${brand}`} font-size="2rem" />
				))
			}
		</div>
	</section>
</Container>
