---
import H1Stylish from "../../atom/H/H1Stylish.astro";

const { data, title, description } = Astro.props;
---

<div class="text-center flex flex-col flex-1 p-2">
	<H1Stylish text={data} large={true} />
    <div>
		<p class="text-xl lg:text-2xl font-serif opacity-80 py-2">{title}</p>
		<p class="uppercase font-semibold text-xs px-8">
			{description}
		</p>
    </div>
</div>
