---
import DataSingle from "./DataSingle.astro";
---

<div class="flex px-24">
	<DataSingle
		data="50"
		title="verified reviews"
		description="from real clients on clutch.co"
	/>
	<DataSingle
		data="4.9"
		title="out of 5"
		description="average referal rating on clutch.co"
	/>
	<DataSingle
		data="15"
		title="years in business"
		description="working from visionary companies"
	/>
</div>
