---
import { Icon } from "astro-icon/components"
import Container from "../../layouts/Container.astro"

const formLink =
  "https://c42d.typeform.com/to/zJV3Cx?typeform-source=www.c42d.com"


import H1Stylish from "../../atom/H/H1Stylish.astro";
---

<section class="text-center w-[60%] mx-auto">
	<h1 class="text-3xl md:text-5xl py-4 font-libreBaskerville text-white"></h1>

	<H1Stylish text="We Brand Unicorns." />

	<p class="text-xl p-4 tracking-wider leading-8 mx-auto text-white">
		C42D is a top New York branding agency for early-stage companies. We build
		brands and websites to perform and drive results: connecting with audiences,
		inspiring investors, and eliminating the competition.
	</p>
	<div class="font-bold text-2xl p-8 flex justify-center items-center gap-2">
		<a target="_blank" href={formLink}>
			<span class="text-white hover:text-brandYellow transition delay-150 cursor-pointer">
				Start a Project
			</span>
		</a>

		<Icon name="arrowYellow" font-size="1rem" />
	</div>
</section>
