---
import SingleQuote from "./SingleQuote.astro";
---

<section class="h-96 relative px-44">
	<div class="quote">
		<SingleQuote
			name="mallory walsh"
			post="head of marketing, teal health"
			quote="i could not be happier with my decision to select c42d for this project; they were the most responsive, detailed, and efficient agency i’ve ever experienced. i could not be more proud of the work we created together and the brand we’ve built."
		/>
	</div>	
	<div class="quote">
		<SingleQuote
			name="alexis rodriguez"
			post="head of global marketing solutions, shazam"
			quote="we’ve interviewed several other large firms, but the c42d team seemed to understand our goals more quickly than others."
		/>
	</div>
	<div class="quote">
		<SingleQuote
			name="jay hack"
			post="founder & ceo, mira ai"
			quote="they truly seemed to understand our base and vision. work with c42d, they’re awesome. we highly recommend them."
		/>
	</div>
	<div
		id="left"
		class="absolute text-4xl bottom-4 left-4 lg:bottom-16 lg:left-16 cursor-pointer text-brandYellow"
		>&larr;
	</div>
	<div
		id="right"
		class="absolute text-4xl bottom-4 right-4 lg:bottom-16 lg:right-16 cursor-pointer text-brandYellow"
		>&rarr;
	</div>
</section>

<script>
	let quoteIndex = 0;
	showQuotes(quoteIndex);

	document.getElementById("left").addEventListener("click", () => {
		showQuotes((quoteIndex -= 1));
	});
	document.getElementById("right").addEventListener("click", () => {
		showQuotes((quoteIndex += 1));
	});

	function showQuotes(givenQuoteIndex) {
		const allQuotes = document.getElementsByClassName("quote");
		const lastQuoteIndex = allQuotes.length - 1

		if (givenQuoteIndex > lastQuoteIndex) {
			quoteIndex = 0;
		}

		if (givenQuoteIndex < 0) {
			quoteIndex = lastQuoteIndex;
		}

		for (let i = 0; i < allQuotes.length; i++) {
			allQuotes[i].classList.add("hidden")
		}

		allQuotes[quoteIndex].classList.remove("hidden")
	}
</script>