---
import { Icon } from "astro-icon/components";

const { quote, post, name } = Astro.props;
---

<div class="text-center flex flex-col items-center gap-2">
	<Icon name="quote" width={80} height={80} />
	<p class="text-3xl font-libreBaskerville leading-normal">{quote}</p>
	<div class="pt-8">
		<p class="font-bold uppercase">{post}</p>
		<p class="font-xl">{name}</p>
	</div>
</div>
