---
import Work from "./Work.astro";
---

<section >
	<p class="uppercase text-3xl py-2 font-libreBaskerville border-b">
		area of speciality:
	</p>
	<Work
		domain="healthcare"
		work="Branding"
		project="Kindbody"
		img="/images/kindbody.png"
		alt="Kindbody branding banner"
	/>
	<Work
		work="Branding for venture capital"
		project="Foundation Capital"
		img="/images/foundation.png"
		alt="Foundation branding banner"
	/>
	<Work
		domain="ui/ux"
		work="design"
		project="The Humane Space"
		img="/images/ux.png"
		alt="The Humane branding banner"
	/>
</section>