---
const currentYear = new Date().getFullYear();
---

<footer>
  <div class="flex p-8 items-center justify-between">
    <div>
      C42D is a New York branding agency with a focus on healthcare branding,
      branding for startups, and branding for venture capital firms
    </div>
    <div>
      &copy; {currentYear} C42D Creative Inc. All Rights
    </div>
  </div>
</footer>
