---
import Container from "../../layouts/Container.astro"

const runtime = Astro.locals.runtime
const env = runtime.env.ENVIRONMENT
---
{

    env === "staging" &&
    <section class="bg-body py-2 fixed z-20 bg-white w-full h-10">
        <Container>
            <p class="font-roboto text-sm text-center text-black">This is staging environment created by <span class="underline underline-offset-4 font-semibold"><a href="https://blupp.co" target="_blank">Blupp Company</a></span> with some initial <span class="underline underline-offset-4 font-semibold"><a href="/benchmarking">benchmarking</a></span>. You can check the codebase on <span class="underline underline-offset-4 font-semibold"><a href="https://github.com/bluppco/c42d" target="_blank">Github</a></span>.</p>
        </Container>
    </section>

}
