---
import Container from "../../layouts/Container.astro";
---

<section
  class="h-full w-full flex flex-col justify-center items-center"
>
  <Container>
    <div class="mx-auto">
      <p class="text-3xl lg:text-5xl uppercase font-libreBaskerville text-center">
        404 - Page not found
      </p>
    </div>
    <a href="/" class="flex justify-center">
      <buttonu class="px-4 py-2 rounded bg-brandYellow hover:bg-brandYellow/90 text-black">Go Home</buttonu>
    </a>
  </Container>
</section>

