---
import { Icon } from "astro-icon/components";

const { img, alt, title } = Astro.props;
---

<section class="border-t py-4 lg:py-8 pb-16 flex">
	<img src={img} alt={alt} class="flex-1 h-52 lg:h-full" />
	<div class="flex-1 flex flex-col px-4 justify-between gap-2">
		<div>
		<span class="text-brandYellow uppercase font-bold text-sm"
			>news article</span
		>
		<p class="text-2xl lg:text-3xl font-serif">{title}</p>
		</div>
		<div class="flex items-center gap-2 font-bold text-xl">
		<span
			class="font-bold text-sm md:text-lg hover:text-brandYellow transition delay-150 cursor-pointer"
			>Read More</span
		>
		<Icon name="boldArrow" class="text-brandYellow" />
		</div>
	</div>
</section>
