---
import { Icon } from "astro-icon/components";

const customers = [
	"youtube",
	"kindbody",
	"cuebiq",
	"brightline",
	"midday",
	"cgs",
	"foundation",
	"nesterly",
	"shazam",
	"reebok",
	"k50",
	"andala",
	"atai",
	"sage",
	"fluent",
];
---

<section class="">
	<div class="grid grid-cols-3 md:grid-cols-5 place-items-center gap-x-10">
		{
			customers.map((brand) => (
				<Icon name={`customers/${brand}`} class="h-28 w-28 lg:h-44 lg:w-44" />
			))
		}
	</div>
</section>
