---
import { Icon } from "astro-icon/components";

const formLink =
  "https://c42d.typeform.com/to/zJV3Cx?typeform-source=www.c42d.com";
---

<section class="text-center">
  <h1 class="text-3xl md:text-5xl p-4 font-serif">We Brand Unicorns.</h1>
  <p class="text-md md:text-lg p-4 tracking-wider mx-auto">
    C42D is a top New York branding agency for early-stage companies. We build
    brands and websites to perform and drive results: connecting with audiences,
    inspiring investors, and eliminating the competition.
  </p>
  <div class="font-bold text-2xl p-8 flex justify-center items-center gap-2">
    <a target="_blank" href={formLink}>
      <span class="hover:text-brandYellow transition delay-150 cursor-pointer"
        >Start a Project</span
      >
    </a>
    <Icon name="boldArrow" class="text-brandYellow" />
  </div>
</section>
