---
import "@fontsource/libre-baskerville";
---

<html lang="en">
    <head class="dark">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Branding Agency NYC - Top Creative Agency - C42D</title>
		<link
			rel="icon"
			href="https://www.c42d.com/wp-content/uploads/2022/03/cropped-2022-favicon-32x32.png"
		/>
    </head>
    <body class="bg-baseBackground text-white">
		<slot />
    </body>
</html>